
a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    
}

.navigation {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    background-color: dodgerblue;
    color: #fff;
}

li{
    margin: 7px;
    display: inline-block;
    list-style: none;
    color: white;
}
.porta{
    color: #fff;
}
